:root {
  --color-primary: #71f6eb;
}

html {
  font-size: 31.25%;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Merriweather", serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
/*Content width inside container is 1140px*/
.container {
  position: relative;
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.section {
  padding: 12rem 0;
}

.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333;
}
.section-heading {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  line-height: 1.4;
}

.section-subheading {
  color: #555;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  line-height: 1.2;
  margin-bottom: 16rem;
}

.content-heading {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.content-subheading {
  font-size: 1.8rem;
}
.content-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: #555;
}

.btn {
  display: block;
  height: 5.3rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  border: none;
  color: #4a5862;
  cursor: pointer;
}

.dots {
  position: absolute;
  display: flex;
}
.dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #cfcfcf;
  border: none;
  border-radius: 40%;
  cursor: pointer;
  margin-right: 0.5rem;
}
.dot:last-child {
  margin-right: 0;
}

/*Active dot*/
.fill {
  background-color: var(--color-primary);
}
